# This file contains environment variables for authentication. It should be sourced in the terminal before running any commands that require these credentials.

# GH for XYZ
export COPILOT_GITHUB_TOKEN='gho_???'
